<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <ng-container *ngIf="(basketService.basketSource$ | async) === null">
        <h3>There is not item in your basket.</h3>
    </ng-container>

    <div class="card" *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="card-body">
            <ng-container *ngIf="basket.items.length <= 0">
                <h3>There is not item in your basket.</h3>
            </ng-container>
            <div class="table-responsive" *ngIf="basket.items.length > 0">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Name</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of basket.items">
                            <td class="p-4">
                                <div class="media align-items-center d-flex">
                                    <img src="{{item.pictureUrl}}" class="d-block ui-w-40 ui-bordered me-4" alt="">
                                    <div class="media-body">
                                        <a href="#" routerLink="/shop/{{item.id}}"
                                            class="d-block text-dark">{{item.productName}}</a>
                                        <small>
                                            <span class="text-muted">Brand: </span>{{item.brand}}
                                        </small>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">{{item.price | currency}}</td>
                            <td class="align-middle p-4">
                                <div class="d-flex justify-content-start align-items-center">
                                    <fa-icon [icon]="faMinusCircle" />
                                    <span class="mx-2 fs-5">2</span>
                                    <fa-icon [icon]="faPlusCircle" />
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">{{item.quantity * item.price |
                                currency}}</td>
                            <td class="text-center align-middle px-0"> <fa-icon [icon]="faTimes" class="fa-times"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <!-- <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="mt-4">
                    <label class="text-muted font-weight-normal">Promocode</label>
                    <input type="text" placeholder="ABC" class="form-control">
                </div>
                <div class="d-flex">
                    <div class="text-right mt-4 mr-5">
                        <label class="text-muted font-weight-normal m-0">Discount</label>
                        <div class="text-large"><strong>$20</strong></div>
                    </div>
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0">Total price</label>
                        <div class="text-large"><strong>$1164.65</strong></div>
                    </div>
                </div>
            </div>

            <div class="float-right">
                <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
                <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
            </div> -->

        </div>
    </div>
</div>