h1 {
    padding: 0 1rem;
}

h2 {
    padding: 1rem;
}

.menu {
    span.active {
        background-color: #d5d7db;
    }
}

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    height: 100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.75rem;
    }
}

mat-sidenav-content {
    padding: 1rem;
}

.mdc-list-item {
    padding: 0px !important;
}

