<app-topbar (toggleMenu)="toggleMenu()"></app-topbar>
<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list class="menu">
      <a mat-list-item *ngFor="let item of menuItems">
        <span class="entry" [routerLink]="item.route" routerLinkActive="active">
          <mat-icon>{{item.icon}}</mat-icon>
          <span *ngIf="!isCollapsed">{{item.name}}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h2>Content</h2>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>