<div class="form-floating">
    <input class="form-control" [formControl]="control" [placeholder]="label" [type]="type"
        [ngClass]="control.touched ? control.invalid ? 'is-invalid':'is-valid': null">
    <fa-icon *ngIf="control.status === 'PENDING'" [icon]="faSpinner" class="fa-spin loader"></fa-icon>
    <label for="floatingInput">{{label}}</label>
    <div *ngIf="control.errors?.['required']" class="invalid-feedback">Please enter a {{label}}.
    </div>
    <div *ngIf="control.errors?.['email']" class="invalid-feedback">Please enter a valid
        {{label}}.
    </div>
    <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Password is not complex enough.</div>
    <div *ngIf="control.errors?.['emailExist']" class="invalid-feedback">Password already exists.</div>
</div>