<div class="container bg-light mt-3 p-3" *ngIf="(basketService.basketTotalSource$ | async) as basketTotal">
    <div class="">
        <h3>Order Summary</h3>
    </div>
    <ul class="list-group fw-bold">
        <li class="list-group-item d-flex justify-content-between">
            <span>Subtotal</span>
            <span>{{basketTotal.subTotal | currency}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>Shipping Cost</span>
            <span>{{basketTotal.shippingCost | currency}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <span>{{basketTotal.total | currency}}</span>
        </li>
    </ul>
</div>