<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-6">
            <img src="{{product.photoUrl}}" alt="{{product.name}}" class="w-100" />
        </div>
        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p>{{product.price | currency}}</p>
            <h5 class="text-warning" *ngIf="quantityInBasket > 0">You have {{quantityInBasket}} items in your basket</h5>
            <div class="d-flex justify-content-start align-items-center">
                <fa-icon [icon]="faMinusCircle" (click)="decreaseQuantity()" />
                <span class="mx-2 fs-4">{{quantity}}</span>
                <fa-icon [icon]="faPlusCircle" (click)="increaseQuantity()" />
                <button class="btn btn-outline-warning ms-2" (click)="updateBasket()">{{buttonText}}</button>
            </div>
            <h3 class="my-3">Description</h3>
            <span>{{product.description}}</span>
        </div>
    </div>
</div>