<div class="container">
    <button (click)="get400Error()" class="btn btn-outline-primary">400 error</button>
    <button (click)="get404Error()" class="btn btn-outline-primary">404 error</button>
    <button (click)="get500Error()" class="btn btn-outline-primary">500 error</button>
    <button (click)="get400ValidationError()" class="btn btn-outline-primary">400 validation error</button>
    <div class="row mt-3" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
</div>