<header>
  <div
    class="d-flex flex-md-row align-items-center justify-content-between p-2 fixed-top bg-white shadow-sm border-bottom">
    <img src="/assets/images/logo.png" alt="logo" style="max-height: 40px; margin-right: 80px;">

    <nav class="d-flex text-uppercase fs-6">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Home</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Shop</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Contact</a>
    </nav>

    <div class="d-flex align-items-center">
      <fa-icon [icon]="faShoppingCart"> </fa-icon>
      <a href="" class="btn btn-outline-secondary mx-3">Login</a>
      <a href="" class="btn btn-outline-secondary me-3">Sign-up</a>
    </div>
  </div>

</header>