<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="row">
        <div class="form-group col-12" formGroupName="paymentForm">
            <app-text-input [label]="'Name on card'" formControlName="nameOnCard"></app-text-input>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-6">
            <div class="form-floating">
                <div class="form-control" #cardNumber></div>
                <label>Card Number</label>
                <span class="text-danger">{{cardErrors}}</span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <div class="form-control" #cardExpiry></div>
                <label>Card Expiry</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                <div class="form-control" #cardCvc></div>
                <label>Card Cvc</label>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row">
    <button class="btn btn-outline-danger" cdkStepperPrevious>
        <fa-icon [icon]="faIcon.faArrowLeft"></fa-icon>
        Back to review
    </button>
    <button class="btn btn-danger" [disabled]="loading || !paymentFormComplete" cdkStepperNext (click)="submitOrder()">
        Go to order 
        <fa-icon *ngIf="!loading" [icon]="faIcon.faArrowRight"></fa-icon>
        <fa-icon *ngIf="loading" [icon]="faSpinner" class="fa-spin loader"></fa-icon>
    </button>
</div>