.list-group-item {
    cursor: pointer;
    border: none;

    &.active {
        border-radius: 10px;
    }

    &:not(.active):hover{
        color: #fff;
        background-color: rgba(13,110,253,0.5);
        border-radius: 10px;
    }
}