<mat-card>
    <div class="card-header">
        <div class="d-flex gap-3 align-items-center">
            <mat-card-title>Categories</mat-card-title>
            <button mat-raised-button color="primary" (click)="createCategory()">Create</button>
        </div>
        <div class="d-flex gap-3 align-items-center">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select (selectionChange)="onStatusChange($event)">
                    <mat-option *ngFor="let item of selectValues" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="searchControl" placeholder="Ex. Name, Order, Active">
            </mat-form-field>
        </div>
    </div>
    <mat-card-content>

        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let category"> {{category.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let category"> {{category.name}} </td>
            </ng-container>

            <!-- Order Column -->
            <ng-container matColumnDef="order">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Order </th>
                <td mat-cell *matCellDef="let category"> {{category.order}} </td>
            </ng-container>

            <!-- Is Active Column -->
            <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef> Active </th>
                <td mat-cell *matCellDef="let category">
                    <mat-icon>{{ category.isActive ? 'check' : 'close' }}</mat-icon>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="action"> Actions </th>
                <td mat-cell *matCellDef="let category">
                    <button mat-button color="accent" (click)="editCategory(category.id)">Edit</button>
                    <button mat-button color="warn" (click)="deleteCategory(category.id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
    </mat-card-content>
</mat-card>