<div *ngIf="checkoutForm" [formGroup]="checkoutForm" class="my-3">
    <div class="row" formGroupName="deliveryForm">
        <div class="form-group col-6 mt-3" *ngFor="let method of deliveryMethods">
            <input type="radio" class="form-check-input" id="{{method.id}}" [value]="method.id"
                formControlName="deliveryMethod" (click)="setShippingPrice(method)">
            <label for="{{method.id}}" class="form-check-label mx-2">
                <strong>{{method.shortName}} - {{method.price | currency}}</strong>
                <br>
                <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row">
    <button class="btn btn-outline-danger" cdkStepperPrevious>
        <fa-icon [icon]="faIcon.faArrowLeft"></fa-icon>
        Back to address
    </button>
    <button class="btn btn-danger" [disabled]="checkoutForm?.get('deliveryForm')?.invalid" cdkStepperNext>
        Go to review <fa-icon [icon]="faIcon.faArrowRight"></fa-icon>
    </button>
</div>